body {
    background-color: #ccc;
}

#map { 
    height: 600px;
    width: 80%;
    margin: auto;
    background-color: #ccc;
    overflow-x: hidden;
    margin-top: 4em;
    border-radius: 15px;
}

#menu {
    margin-left: 10%;
    margin-top: 2em;
}
/* #map::before{
    content: 'LOADING';
    font-size: 3em;
    text-align: center;
    width: 100%;
    position: absolute;
    margin-top: 3em;
} */
.leaflet-popup-content-wrapper {
    width: 100%;
}